body{
    background-color: antiquewhite;
}

.container{

   height: 100vh;
   width: 100%;
   text-align: center;
   position: absolute;
  
}

.wrapper{
    position: relative;
    top: 30%;
    background-color: blueviolet;
    height: 200px;
    width: 300px;
    margin-left: 35%;
    padding-top: 50px;
    border:2px black solid ;
    font-size: 40px;
    border-radius: 10px;
    
    
    
}
button{
    padding: 10px 38px;
    border: 3px solid #A9A9A9;
    border-radius: 20px;

}
button:hover{
    border: 2px solid green;
}